db:
  image: db
  container_name: db
  environment:
    MYSQL_ROOT_PASSWORD: 123
    MYSQL_USER: users_service
    MYSQL_PASSWORD: 123
    MYSQL_DATABASE: users
  volumes:
    - /var/lib/mysql
  expose:
    - "3306"
  ports:
    - "6002:3306"
